<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @job.job_location %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @job.job_category %>
</p>

<p>
  <strong>Job industry:</strong>
  <%= @job.job_industry %>
</p>

<p>
  <strong>Job funcarea:</strong>
  <%= @job.job_funcarea %>
</p>

<p>
  <strong>Job salmin:</strong>
  <%= @job.job_salmin %>
</p>

<p>
  <strong>Job salmax:</strong>
  <%= @job.job_salmax %>
</p>

<p>
  <strong>Job yrsofexpmin:</strong>
  <%= @job.job_yrsofexpmin %>
</p>

<p>
  <strong>Job yrsofexpmax:</strong>
  <%= @job.job_yrsofexpmax %>
</p>

<p>
  <strong>Job coursetype:</strong>
  <%= @job.job_coursetype %>
</p>

<p>
  <strong>Job gradeyrmin:</strong>
  <%= @job.job_gradeyrmin %>
</p>

<p>
  <strong>Job gradeyrmax:</strong>
  <%= @job.job_gradeyrmax %>
</p>

<p>
  <strong>Job jobdesc:</strong>
  <%= @job.job_jobdesc %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
